<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<link href="/plugin_assets/globalhand_linkbar_macro/jbar_linkbar.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/plugin_assets/globalhand_linkbar_macro/jquery.jbar.js" type="text/javascript"></script>

<script type="text/javascript">
  jQuery(function(){
    jQuery('.jbar').jbar();
  });
  jQuery.noConflict();
</script>

<table class="linkbar">
  <tr>
    <% @param_levels.first.each_with_index do |(first_label, first_data), i| %>
      <th <%= i == @param_levels.first.size - 1 ? 'class="last"' : '' %>><%= first_label %></th>
    <% end %>
  </tr>
  <tr>
    <% @param_levels.first.each_with_index do |(first_label, first_data), i| %>
      <% base_url =  %>
      <td <%= i == @param_levels.first.size - 1 ? 'class="last"' : '' %>>
        <ul class="jbar">
          <% @param_levels.second.each do |second_label, second_data| %>

            <li>
              <%= link_to("<span class=\"symbol\">+</span> #{second_label}",
                            build_link_url(@params["url_template"],
                                           url_modifiers.first  => first_data,
                                           url_modifiers.second => second_data),
                           "Create a #{second_label}.") %>
                <ul>
                  <% @param_levels.third.each do |third_label, third_data| %>
                    <li>
                      <% if third_data['icon'] %>
                        <img class="dropdown_icon" src="<%= third_data['icon'] %>">
                      <% end %>

                      <%= link_to(third_label,
                                   build_link_url(@params["url_template"],
                                                  url_modifiers.first  => first_data,
                                                  url_modifiers.second => second_data,
                                                  url_modifiers.third  => third_data),
                                  "Create a #{third_label} #{second_label}.") %>
                    </li>
                  <% end %>
                </ul>
            </li>
          <% end %>
        </ul>
      </td>
    <% end %>
  </tr>
</table>

<% if @params['extra_modifiers'] %>
  <div class="extra_modifiers" >
    <% @params['extra_modifiers'].each_with_index do |(label, query), i| %>
      <input type="checkbox" name="url_modifier_<%= i %>" id="url_modifier_<%= i %>" class="url_modifier">
      <input type="hidden" id="url_modifier_<%= i %>_value" value="<%= query %>">
      <label for="url_modifier_<%= i %>"><%= label %></label>
    <% end %>
  </div>
  <script type="text/javascript">
    jQuery('input.url_modifier').change(function(){
      var query=jQuery('#'+this.id+'_value').val();
      if (this.checked) {
        // Append escaped query string to href
        jQuery('.linkbar a').each(function(i){
          jQuery(this).attr('href', jQuery(this).attr('href')+'&'+query);
        });
      } else {
        // Remove escaped query string from href
        jQuery('.linkbar a').each(function(i){
           jQuery(this).attr('href', jQuery(this).attr('href').replace('&'+query, ""));
        });
      };
    });
  </script>
<% end %>
