/*
 * jbar (for jQuery)
 * version: 0.1.3 (11/24/2010)
 * http://javan.github.com/jbar/
 * http://github.com/javan/jbar
 *
 * Licensed under the MIT:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Copyright 2010+ Javan Makhmali :: javan@javan.us
 *
 */

#header ul.jbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-family: arial, sans-serif;
  letter-spacing: .02em;
  clear: both;
}

#header ul.jbar * {
  outline: 0;
}

#header ul.jbar a {
  font-size: 12px;
  line-height: 16px;
}

#header ul.jbar li {
  position: relative;
  margin: 0 1px 0 0;
  padding: 0;
  text-shadow: 1px 1px 2px #292929;
  display: inline-block;
  float: left;
}

#header ul.jbar li:nth-child(2) {
  border-left: 1px solid #444444;
  margin-left: -1px;
}


#header ul.jbar li a {
  color: #cecece;
  text-decoration: none;
  padding: 3px 5px;
  background-color: #666666;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#555555));
  background: -moz-linear-gradient(center top, #777777, #555555) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#555555', GradientType=0);
  -webkit-background-clip: padding-box;
  text-shadow: 1px 1px 2px #292929;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  vertical-align: middle;
}

#header ul.jbar li a.first {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header ul.jbar li a.last,
#header ul.jbar li a.last span.trigger {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header ul.jbar li .triggered {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#555555));
  background: -moz-linear-gradient(center top, #777777, #555555) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#555555', GradientType=0);
  color: #eee;
}

#header ul.jbar li a.has_down_arrow {
  padding-right: 16px !important;
}

#header ul.jbar li a.has_lonely_down_arrow {
  padding-right: 12px !important;
}

#header ul.jbar li a.has_trigger_down_arrow span.link_text {
  padding-right: 5px !important;
  border-right: 1px dotted #ccc;
}

#header ul.jbar li a.has_no_down_arrow:hover,
#header ul.jbar li a.has_lonely_down_arrow:hover,
#header ul.jbar li a.trigger:hover,
#header ul.jbar li .hovered {
  color: #fff !important;
}

#header ul.jbar span.down_arrow {
  font-size: 9px;
  width: 16px;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#header ul.jbar span.down_arrow em {
  text-align: left;
  display: block;
  padding: 0.37em 0 0 0.36em;
}

#header ul.jbar.jbar_browser_IE6 a.has_lonely_down_arrow span.down_arrow em {
  padding-left: 0.4em;
}

#header ul.jbar div.submenu_container {
  display: none;
  position: absolute;
  z-index: 1000;
  left: -1px;
  width: 185px;
  opacity: .95;
  text-align: left;
  padding-top: 12px;
}


#header ul.jbar span.up_arrow {
  position: absolute;
  font-size: 13px !important;
  top: 0;
  color: #3D3D3D;
  text-shadow: 0px -1px 1px #3D3D3D;
  display: block;
}

#header ul.jbar ul {
  border: 2px solid #4D4D4D;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px #1a1a1a;
  -moz-box-shadow: 0px 0px 7px #1a1a1a;
  box-shadow: 0px 0px 7px #1a1a1a;
  -webkit-background-clip: padding-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

#header ul.jbar ul li {
  margin: 0;
  padding: 0;
  text-shadow: none;
  float: none;
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: #666666;
  background-image: none;
  color: #fff !important;
  text-shadow: 1px 1px 2px #292929;
  border: none;
}

#header ul.jbar .submenu_container ul li:hover {
  background-color: #fff !important;
  background-image: none;
  color: #333 !important;
  text-shadow: none;
}

#header ul.jbar .submenu_container ul li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: inherit;
  color: inherit;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  filter: -;
  zoom: 1;
  height: auto;
  background-color: transparent;
  background-image: none;
  margin-top: 3px;
}

#header div.jbar_IE_zIndex_fix {
  position: relative;
  display: inline;
  zoom: 1;
}

/* Macro styles */
#header .linkbar th {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

span.symbol {
  text-shadow: none;
}

.linkbar td, .linkbar th {
  color: #FFFFFF;
  background: transparent;
  border: none;
  padding: 1px 8px !important;
}
.linkbar td.last, .linkbar th.last {
  border-right: none;
}

img.dropdown_icon {
  background-color: #9F9F9F;
  border: 1px solid #3A3A3A;
  float: left;
  height: 16px;
  margin: 5px 0 5px 5px;
  padding: 1px;
  width: 16px;
}

.extra_modifiers {
  padding-top: 4px;
  padding-left: 8px;
}
.extra_modifiers label {
  display: inline;
  margin-right: 6px;
}

/* Mingle fixes. */
#header #hd-top {
  overflow: visible !important;
}

#hd-actions {
  margin: 0px 225px 5px 0px;
  padding: 5px 6px;
}
